/* 
    Theme Color : Yellow
    Author      : Frederick S. Crisostomo
    Credits     : W3CSS
*/
.w3-theme-yellow-l5, .w3-hover-theme-yellow-l5:hover, .w3-active-theme-yellow-l5:active, .w3-active-theme-yellow-l5:active > a {color:#000 !important; background-color:#fffef3 !important}
.w3-theme-yellow-l4, .w3-hover-theme-yellow-l4:hover, .w3-active-theme-yellow-l4:active, .w3-active-theme-yellow-l4:active > a {color:#000 !important; background-color:#fffbd8 !important}
.w3-theme-yellow-l3, .w3-hover-theme-yellow-l3:hover, .w3-active-theme-yellow-l3:active, .w3-active-theme-yellow-l3:active > a {color:#000 !important; background-color:#fff7b1 !important}
.w3-theme-yellow-l2, .w3-hover-theme-yellow-l2:hover, .w3-active-theme-yellow-l2:active, .w3-active-theme-yellow-l2:active > a {color:#000 !important; background-color:#fff38b !important}
.w3-theme-yellow-l1, .w3-hover-theme-yellow-l1:hover, .w3-active-theme-yellow-l1:active, .w3-active-theme-yellow-l1:active > a {color:#000 !important; background-color:#ffef64 !important}
.w3-theme-yellow-d1, .w3-hover-theme-yellow-d1:hover, .w3-active-theme-yellow-d1:active, .w3-active-theme-yellow-d1:active > a {color:#000 !important; background-color:#ffe81e !important}
.w3-theme-yellow-d2, .w3-hover-theme-yellow-d2:hover, .w3-active-theme-yellow-d2:active, .w3-active-theme-yellow-d2:active > a {color:#000 !important; background-color:#fde400 !important}
.w3-theme-yellow-d3, .w3-hover-theme-yellow-d3:hover, .w3-active-theme-yellow-d3:active, .w3-active-theme-yellow-d3:active > a {color:#000 !important; background-color:#ddc700 !important}
.w3-theme-yellow-d4, .w3-hover-theme-yellow-d4:hover, .w3-active-theme-yellow-d4:active, .w3-active-theme-yellow-d4:active > a {color:#fff !important; background-color:#beab00 !important}
.w3-theme-yellow-d5, .w3-hover-theme-yellow-d5:hover, .w3-active-theme-yellow-d5:active, .w3-active-theme-yellow-d5:active > a {color:#fff !important; background-color:#9e8e00 !important}

.w3-text-theme-yellow-l5, .w3-hover-text-theme-yellow-l5:hover, .w3-active-text-theme-yellow-l5:active, .w3-active-text-theme-yellow-l5:active > a {color:#fffef3 !important}
.w3-text-theme-yellow-l4, .w3-hover-text-theme-yellow-l4:hover, .w3-active-text-theme-yellow-l4:active, .w3-active-text-theme-yellow-l4:active > a {color:#fffbd8 !important}
.w3-text-theme-yellow-l3, .w3-hover-text-theme-yellow-l3:hover, .w3-active-text-theme-yellow-l3:active, .w3-active-text-theme-yellow-l3:active > a {color:#fff7b1 !important}
.w3-text-theme-yellow-l2, .w3-hover-text-theme-yellow-l2:hover, .w3-active-text-theme-yellow-l2:active, .w3-active-text-theme-yellow-l2:active > a {color:#fff38b !important}
.w3-text-theme-yellow-l1, .w3-hover-text-theme-yellow-l1:hover, .w3-active-text-theme-yellow-l1:active, .w3-active-text-theme-yellow-l1:active > a {color:#ffef64 !important}
.w3-text-theme-yellow-d1, .w3-hover-text-theme-yellow-d1:hover, .w3-active-text-theme-yellow-d1:active, .w3-active-text-theme-yellow-d1:active > a {color:#ffe81e !important}
.w3-text-theme-yellow-d2, .w3-hover-text-theme-yellow-d2:hover, .w3-active-text-theme-yellow-d2:active, .w3-active-text-theme-yellow-d2:active > a {color:#fde400 !important}
.w3-text-theme-yellow-d3, .w3-hover-text-theme-yellow-d3:hover, .w3-active-text-theme-yellow-d3:active, .w3-active-text-theme-yellow-d3:active > a {color:#ddc700 !important}
.w3-text-theme-yellow-d4, .w3-hover-text-theme-yellow-d4:hover, .w3-active-text-theme-yellow-d4:active, .w3-active-text-theme-yellow-d4:active > a {color:#beab00 !important}
.w3-text-theme-yellow-d5, .w3-hover-text-theme-yellow-d5:hover, .w3-active-text-theme-yellow-d5:active, .w3-active-text-theme-yellow-d5:active > a {color:#9e8e00 !important}

.w3-border-theme-yellow-l5, .w3-hover-border-theme-yellow-l5:hover, .w3-active-border-theme-yellow-l5:active, .w3-active-border-theme-yellow-l5:active > a {border-color:#fffef3 !important}
.w3-border-theme-yellow-l4, .w3-hover-border-theme-yellow-l4:hover, .w3-active-border-theme-yellow-l4:active, .w3-active-border-theme-yellow-l4:active > a {border-color:#fffbd8 !important}
.w3-border-theme-yellow-l3, .w3-hover-border-theme-yellow-l3:hover, .w3-active-border-theme-yellow-l3:active, .w3-active-border-theme-yellow-l3:active > a {border-color:#fff7b1 !important}
.w3-border-theme-yellow-l2, .w3-hover-border-theme-yellow-l2:hover, .w3-active-border-theme-yellow-l2:active, .w3-active-border-theme-yellow-l2:active > a {border-color:#fff38b !important}
.w3-border-theme-yellow-l1, .w3-hover-border-theme-yellow-l1:hover, .w3-active-border-theme-yellow-l1:active, .w3-active-border-theme-yellow-l1:active > a {border-color:#ffef64 !important}
.w3-border-theme-yellow-d1, .w3-hover-border-theme-yellow-d1:hover, .w3-active-border-theme-yellow-d1:active, .w3-active-border-theme-yellow-d1:active > a {border-color:#ffe81e !important}
.w3-border-theme-yellow-d2, .w3-hover-border-theme-yellow-d2:hover, .w3-active-border-theme-yellow-d2:active, .w3-active-border-theme-yellow-d2:active > a {border-color:#fde400 !important}
.w3-border-theme-yellow-d3, .w3-hover-border-theme-yellow-d3:hover, .w3-active-border-theme-yellow-d3:active, .w3-active-border-theme-yellow-d3:active > a {border-color:#ddc700 !important}
.w3-border-theme-yellow-d4, .w3-hover-border-theme-yellow-d4:hover, .w3-active-border-theme-yellow-d4:active, .w3-active-border-theme-yellow-d4:active > a {border-color:#beab00 !important}
.w3-border-theme-yellow-d5, .w3-hover-border-theme-yellow-d5:hover, .w3-active-border-theme-yellow-d5:active, .w3-active-border-theme-yellow-d5:active > a {border-color:#9e8e00 !important}

.w3-theme-yellow-light, .w3-hover-theme-yellow-light:hover, .w3-active-theme-yellow-light:active, .w3-active-theme-yellow-light:active > a {color:#000 !important; background-color:#fffef3 !important}
.w3-theme-yellow-dark, .w3-hover-theme-yellow-dark:hover, .w3-active-theme-yellow-dark:active, .w3-active-theme-yellow-dark:active > a {color:#fff !important; background-color:#9e8e00 !important}
.w3-theme-yellow-action, .w3-hover-theme-yellow-action:hover, .w3-active-theme-yellow-action:active, .w3-active-theme-yellow-action:active > a {color:#fff !important; background-color:#9e8e00 !important}

.w3-text-theme-yellow-light, .w3-hover-text-theme-yellow-light:hover, .w3-active-text-theme-yellow-light:active, .w3-active-text-theme-yellow-light:active > a {color:#fffef3 !important}
.w3-text-theme-yellow-dark, .w3-hover-text-theme-yellow-dark:hover, .w3-active-text-theme-yellow-dark:active, .w3-active-text-theme-yellow-dark:active > a {color:#9e8e00 !important}
.w3-text-theme-yellow-action, .w3-hover-text-theme-yellow-action:hover, .w3-active-text-theme-yellow-action:active, .w3-active-text-theme-yellow-action:active > a {color:#9e8e00 !important}

.w3-border-theme-yellow-light, .w3-hover-border-theme-yellow-light:hover, .w3-active-border-theme-yellow-light:active, .w3-active-border-theme-yellow-light:active > a {border-color:#fffef3 !important}
.w3-border-theme-yellow-dark, .w3-hover-border-theme-yellow-dark:hover, .w3-active-border-theme-yellow-dark:active, .w3-active-border-theme-yellow-dark:active > a {border-color:#9e8e00 !important}
.w3-border-theme-yellow-action, .w3-hover-border-theme-yellow-action:hover, .w3-active-border-theme-yellow-action:active, .w3-active-border-theme-yellow-action:active > a {border-color:#9e8e00 !important}

.w3-theme-yellow, .w3-hover-theme-yellow:hover, .w3-active-theme-yellow:active, .w3-active-theme-yellow:active > a {color:#000 !important; background-color:#ffeb3b !important}
.w3-text-theme-yellow, .w3-hover-text-theme-yellow:hover, .w3-active-text-theme-yellow:active, .w3-active-text-theme-yellow:active > a {color:#ffeb3b !important}
.w3-border-theme-yellow, .w3-hover-border-theme-yellow:hover, .w3-active-border-theme-yellow:active, .w3-active-border-theme-yellow:active > a {border-color:#ffeb3b !important}