/* 
    Theme Color : Indigo
    Author      : Frederick S. Crisostomo
    Credits     : W3CSS
*/
.w3-theme-indigo-l5, .w3-hover-theme-indigo-l5:hover, .w3-active-theme-indigo-l5:active, .w3-active-theme-indigo-l5:active > a {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-indigo-l4, .w3-hover-theme-indigo-l4:hover, .w3-active-theme-indigo-l4:active, .w3-active-theme-indigo-l4:active > a {color:#000 !important; background-color:#d8dcf1 !important}
.w3-theme-indigo-l3, .w3-hover-theme-indigo-l3:hover, .w3-active-theme-indigo-l3:active, .w3-active-theme-indigo-l3:active > a {color:#000 !important; background-color:#b1b8e3 !important}
.w3-theme-indigo-l2, .w3-hover-theme-indigo-l2:hover, .w3-active-theme-indigo-l2:active, .w3-active-theme-indigo-l2:active > a {color:#fff !important; background-color:#8995d6 !important}
.w3-theme-indigo-l1, .w3-hover-theme-indigo-l1:hover, .w3-active-theme-indigo-l1:active, .w3-active-theme-indigo-l1:active > a {color:#fff !important; background-color:#6271c8 !important}
.w3-theme-indigo-d1, .w3-hover-theme-indigo-d1:hover, .w3-active-theme-indigo-d1:active, .w3-active-theme-indigo-d1:active > a {color:#fff !important; background-color:#3949a3 !important}
.w3-theme-indigo-d2, .w3-hover-theme-indigo-d2:hover, .w3-active-theme-indigo-d2:active, .w3-active-theme-indigo-d2:active > a {color:#fff !important; background-color:#334191 !important}
.w3-theme-indigo-d3, .w3-hover-theme-indigo-d3:hover, .w3-active-theme-indigo-d3:active, .w3-active-theme-indigo-d3:active > a {color:#fff !important; background-color:#2d397f !important}
.w3-theme-indigo-d4, .w3-hover-theme-indigo-d4:hover, .w3-active-theme-indigo-d4:active, .w3-active-theme-indigo-d4:active > a {color:#fff !important; background-color:#26316d !important}
.w3-theme-indigo-d5, .w3-hover-theme-indigo-d5:hover, .w3-active-theme-indigo-d5:active, .w3-active-theme-indigo-d5:active > a {color:#fff !important; background-color:#20295b !important}

.w3-text-theme-indigo-l5, .w3-hover-text-theme-indigo-l5:hover, .w3-active-text-theme-indigo-l5:active, .w3-active-text-theme-indigo-l5:active > a {color:#f3f4fb !important}
.w3-text-theme-indigo-l4, .w3-hover-text-theme-indigo-l4:hover, .w3-active-text-theme-indigo-l4:active, .w3-active-text-theme-indigo-l4:active > a {color:#d8dcf1 !important}
.w3-text-theme-indigo-l3, .w3-hover-text-theme-indigo-l3:hover, .w3-active-text-theme-indigo-l3:active, .w3-active-text-theme-indigo-l3:active > a {color:#b1b8e3 !important}
.w3-text-theme-indigo-l2, .w3-hover-text-theme-indigo-l2:hover, .w3-active-text-theme-indigo-l2:active, .w3-active-text-theme-indigo-l2:active > a {color:#8995d6 !important}
.w3-text-theme-indigo-l1, .w3-hover-text-theme-indigo-l1:hover, .w3-active-text-theme-indigo-l1:active, .w3-active-text-theme-indigo-l1:active > a {color:#6271c8 !important}
.w3-text-theme-indigo-d1, .w3-hover-text-theme-indigo-d1:hover, .w3-active-text-theme-indigo-d1:active, .w3-active-text-theme-indigo-d1:active > a {color:#3949a3 !important}
.w3-text-theme-indigo-d2, .w3-hover-text-theme-indigo-d2:hover, .w3-active-text-theme-indigo-d2:active, .w3-active-text-theme-indigo-d2:active > a {color:#334191 !important}
.w3-text-theme-indigo-d3, .w3-hover-text-theme-indigo-d3:hover, .w3-active-text-theme-indigo-d3:active, .w3-active-text-theme-indigo-d3:active > a {color:#2d397f !important}
.w3-text-theme-indigo-d4, .w3-hover-text-theme-indigo-d4:hover, .w3-active-text-theme-indigo-d4:active, .w3-active-text-theme-indigo-d4:active > a {color:#26316d !important}
.w3-text-theme-indigo-d5, .w3-hover-text-theme-indigo-d5:hover, .w3-active-text-theme-indigo-d5:active, .w3-active-text-theme-indigo-d5:active > a {color:#20295b !important}

.w3-border-theme-indigo-l5, .w3-hover-border-theme-indigo-l5:hover, .w3-active-border-theme-indigo-l5:active, .w3-active-border-theme-indigo-l5:active > a {border-color:#f3f4fb !important}
.w3-border-theme-indigo-l4, .w3-hover-border-theme-indigo-l4:hover, .w3-active-border-theme-indigo-l4:active, .w3-active-border-theme-indigo-l4:active > a {border-color:#d8dcf1 !important}
.w3-border-theme-indigo-l3, .w3-hover-border-theme-indigo-l3:hover, .w3-active-border-theme-indigo-l3:active, .w3-active-border-theme-indigo-l3:active > a {border-color:#b1b8e3 !important}
.w3-border-theme-indigo-l2, .w3-hover-border-theme-indigo-l2:hover, .w3-active-border-theme-indigo-l2:active, .w3-active-border-theme-indigo-l2:active > a {border-color:#8995d6 !important}
.w3-border-theme-indigo-l1, .w3-hover-border-theme-indigo-l1:hover, .w3-active-border-theme-indigo-l1:active, .w3-active-border-theme-indigo-l1:active > a {border-color:#6271c8 !important}
.w3-border-theme-indigo-d1, .w3-hover-border-theme-indigo-d1:hover, .w3-active-border-theme-indigo-d1:active, .w3-active-border-theme-indigo-d1:active > a {border-color:#3949a3 !important}
.w3-border-theme-indigo-d2, .w3-hover-border-theme-indigo-d2:hover, .w3-active-border-theme-indigo-d2:active, .w3-active-border-theme-indigo-d2:active > a {border-color:#334191 !important}
.w3-border-theme-indigo-d3, .w3-hover-border-theme-indigo-d3:hover, .w3-active-border-theme-indigo-d3:active, .w3-active-border-theme-indigo-d3:active > a {border-color:#2d397f !important}
.w3-border-theme-indigo-d4, .w3-hover-border-theme-indigo-d4:hover, .w3-active-border-theme-indigo-d4:active, .w3-active-border-theme-indigo-d4:active > a {border-color:#26316d !important}
.w3-border-theme-indigo-d5, .w3-hover-border-theme-indigo-d5:hover, .w3-active-border-theme-indigo-d5:active, .w3-active-border-theme-indigo-d5:active > a {border-color:#20295b !important}

.w3-theme-indigo-light, .w3-hover-theme-indigo-light:hover, .w3-active-theme-indigo-light:active, .w3-active-theme-indigo-light:active > a {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-indigo-dark, .w3-hover-theme-indigo-dark:hover, .w3-active-theme-indigo-dark:active, .w3-active-theme-indigo-dark:active > a {color:#fff !important; background-color:#20295b !important}
.w3-theme-indigo-action, .w3-hover-theme-indigo-action:hover, .w3-active-theme-indigo-action:active, .w3-active-theme-indigo-action:active > a {color:#fff !important; background-color:#20295b !important}

.w3-text-theme-indigo-light, .w3-hover-text-theme-indigo-light:hover, .w3-active-text-theme-indigo-light:active, .w3-active-text-theme-indigo-light:active > a {color:#f3f4fb !important}
.w3-text-theme-indigo-dark, .w3-hover-text-theme-indigo-dark:hover, .w3-active-text-theme-indigo-dark:active, .w3-active-text-theme-indigo-dark:active > a {color:#20295b !important}
.w3-text-theme-indigo-action, .w3-hover-text-theme-indigo-action:hover, .w3-active-text-theme-indigo-action:active, .w3-active-text-theme-indigo-action:active > a {color:#20295b !important}

.w3-border-theme-indigo-light, .w3-hover-border-theme-indigo-light:hover, .w3-active-border-theme-indigo-light:active, .w3-active-border-theme-indigo-light:active > a {border-color:#f3f4fb !important}
.w3-border-theme-indigo-dark, .w3-hover-border-theme-indigo-dark:hover, .w3-active-border-theme-indigo-dark:active, .w3-active-border-theme-indigo-dark:active > a {border-color:#20295b !important}
.w3-border-theme-indigo-action, .w3-hover-border-theme-indigo-action:hover, .w3-active-border-theme-indigo-action:active, .w3-active-border-theme-indigo-action:active > a {border-color:#20295b !important}

.w3-theme-indigo, .w3-hover-theme-indigo:hover, .w3-active-theme-indigo:active, .w3-active-theme-indigo:active > a {color:#fff !important; background-color:#3f51b5 !important}
.w3-text-theme-indigo, .w3-hover-text-theme-indigo:hover, .w3-active-text-theme-indigo:active, .w3-active-text-theme-indigo:active > a {color:#3f51b5 !important}
.w3-border-theme-indigo, .w3-hover-border-theme-indigo:hover, .w3-active-border-theme-indigo:active, .w3-active-border-theme-indigo:active > a {border-color:#3f51b5 !important}