/* 
    Theme Color : Red
    Author      : Frederick S. Crisostomo
    Credits     : W3CSS
*/
.w3-theme-red-l5, .w3-hover-theme-red-l5:hover, .w3-active-theme-red-l5:active, .w3-active-theme-red-l5:active > a {color:#000 !important; background-color:#fef4f3 !important}
.w3-theme-red-l4, .w3-hover-theme-red-l4:hover, .w3-active-theme-red-l4:active, .w3-active-theme-red-l4:active > a {color:#000 !important; background-color:#fdd9d6 !important}
.w3-theme-red-l3, .w3-hover-theme-red-l3:hover, .w3-active-theme-red-l3:active, .w3-active-theme-red-l3:active > a {color:#000 !important; background-color:#fbb3ae !important}
.w3-theme-red-l2, .w3-hover-theme-red-l2:hover, .w3-active-theme-red-l2:active, .w3-active-theme-red-l2:active > a {color:#000 !important; background-color:#f98d85 !important}
.w3-theme-red-l1, .w3-hover-theme-red-l1:hover, .w3-active-theme-red-l1:active, .w3-active-theme-red-l1:active > a {color:#fff !important; background-color:#f6665c !important}
.w3-theme-red-d1, .w3-hover-theme-red-d1:hover, .w3-active-theme-red-d1:active, .w3-active-theme-red-d1:active > a {color:#fff !important; background-color:#f32617 !important}
.w3-theme-red-d2, .w3-hover-theme-red-d2:hover, .w3-active-theme-red-d2:active, .w3-active-theme-red-d2:active > a {color:#fff !important; background-color:#e11a0c !important}
.w3-theme-red-d3, .w3-hover-theme-red-d3:hover, .w3-active-theme-red-d3:active, .w3-active-theme-red-d3:active > a {color:#fff !important; background-color:#c5170a !important}
.w3-theme-red-d4, .w3-hover-theme-red-d4:hover, .w3-active-theme-red-d4:active, .w3-active-theme-red-d4:active > a {color:#fff !important; background-color:#a91409 !important}
.w3-theme-red-d5, .w3-hover-theme-red-d5:hover, .w3-active-theme-red-d5:active, .w3-active-theme-red-d5:active > a {color:#fff !important; background-color:#8d1007 !important}

.w3-text-theme-red-l5, .w3-hover-text-theme-red-l5:hover, .w3-active-text-theme-red-l5:active, .w3-active-text-theme-red-l5:active > a {color:#fef4f3 !important}
.w3-text-theme-red-l4, .w3-hover-text-theme-red-l4:hover, .w3-active-text-theme-red-l4:active, .w3-active-text-theme-red-l4:active > a {color:#fdd9d6 !important}
.w3-text-theme-red-l3, .w3-hover-text-theme-red-l3:hover, .w3-active-text-theme-red-l3:active, .w3-active-text-theme-red-l3:active > a {color:#fbb3ae !important}
.w3-text-theme-red-l2, .w3-hover-text-theme-red-l2:hover, .w3-active-text-theme-red-l2:active, .w3-active-text-theme-red-l2:active > a {color:#f98d85 !important}
.w3-text-theme-red-l1, .w3-hover-text-theme-red-l1:hover, .w3-active-text-theme-red-l1:active, .w3-active-text-theme-red-l1:active > a {color:#f6665c !important}
.w3-text-theme-red-d1, .w3-hover-text-theme-red-d1:hover, .w3-active-text-theme-red-d1:active, .w3-active-text-theme-red-d1:active > a {color:#f32617 !important}
.w3-text-theme-red-d2, .w3-hover-text-theme-red-d2:hover, .w3-active-text-theme-red-d2:active, .w3-active-text-theme-red-d2:active > a {color:#e11a0c !important}
.w3-text-theme-red-d3, .w3-hover-text-theme-red-d3:hover, .w3-active-text-theme-red-d3:active, .w3-active-text-theme-red-d3:active > a {color:#c5170a !important}
.w3-text-theme-red-d4, .w3-hover-text-theme-red-d4:hover, .w3-active-text-theme-red-d4:active, .w3-active-text-theme-red-d4:active > a {color:#a91409 !important}
.w3-text-theme-red-d5, .w3-hover-text-theme-red-d5:hover, .w3-active-text-theme-red-d5:active, .w3-active-text-theme-red-d5:active > a {color:#8d1007 !important}

.w3-border-theme-red-l5, .w3-hover-border-theme-red-l5:hover, .w3-active-border-theme-red-l5:active, .w3-active-border-theme-red-l5:active > a {border-color:#fef4f3 !important}
.w3-border-theme-red-l4, .w3-hover-border-theme-red-l4:hover, .w3-active-border-theme-red-l4:active, .w3-active-border-theme-red-l4:active > a {border-color:#fdd9d6 !important}
.w3-border-theme-red-l3, .w3-hover-border-theme-red-l3:hover, .w3-active-border-theme-red-l3:active, .w3-active-border-theme-red-l3:active > a {border-color:#fbb3ae !important}
.w3-border-theme-red-l2, .w3-hover-border-theme-red-l2:hover, .w3-active-border-theme-red-l2:active, .w3-active-border-theme-red-l2:active > a {border-color:#f98d85 !important}
.w3-border-theme-red-l1, .w3-hover-border-theme-red-l1:hover, .w3-active-border-theme-red-l1:active, .w3-active-border-theme-red-l1:active > a {border-color:#f6665c !important}
.w3-border-theme-red-d1, .w3-hover-border-theme-red-d1:hover, .w3-active-border-theme-red-d1:active, .w3-active-border-theme-red-d1:active > a {border-color:#f32617 !important}
.w3-border-theme-red-d2, .w3-hover-border-theme-red-d2:hover, .w3-active-border-theme-red-d2:active, .w3-active-border-theme-red-d2:active > a {border-color:#e11a0c !important}
.w3-border-theme-red-d3, .w3-hover-border-theme-red-d3:hover, .w3-active-border-theme-red-d3:active, .w3-active-border-theme-red-d3:active > a {border-color:#c5170a !important}
.w3-border-theme-red-d4, .w3-hover-border-theme-red-d4:hover, .w3-active-border-theme-red-d4:active, .w3-active-border-theme-red-d4:active > a {border-color:#a91409 !important}
.w3-border-theme-red-d5, .w3-hover-border-theme-red-d5:hover, .w3-active-border-theme-red-d5:active, .w3-active-border-theme-red-d5:active > a {border-color:#8d1007 !important}

.w3-theme-red-light, .w3-hover-theme-red-light:hover, .w3-active-theme-red-light:active, .w3-active-theme-red-light:active > a {color:#000 !important; background-color:#fef4f3 !important}
.w3-theme-red-dark, .w3-hover-theme-red-dark:hover, .w3-active-theme-red-dark:active, .w3-active-theme-red-dark:active > a {color:#fff !important; background-color:#8d1007 !important}
.w3-theme-red-action, .w3-hover-theme-red-action:hover, .w3-active-theme-red-action:active, .w3-active-theme-red-action:active > a {color:#fff !important; background-color:#8d1007 !important}

.w3-text-theme-red-light, .w3-hover-text-theme-red-light:hover, .w3-active-text-theme-red-light:active, .w3-active-text-theme-red-light:active > a {color:#fef4f3 !important}
.w3-text-theme-red-dark, .w3-hover-text-theme-red-dark:hover, .w3-active-text-theme-red-dark:active, .w3-active-text-theme-red-dark:active > a {color:#8d1007 !important}
.w3-text-theme-red-action, .w3-hover-text-theme-red-action:hover, .w3-active-text-theme-red-action:active, .w3-active-text-theme-red-action:active > a {color:#8d1007 !important}

.w3-border-theme-red-light, .w3-hover-border-theme-red-light:hover, .w3-active-border-theme-red-light:active, .w3-active-border-theme-red-light:active > a {border-color:#fef4f3 !important}
.w3-border-theme-red-dark, .w3-hover-border-theme-red-dark:hover, .w3-active-border-theme-red-dark:active, .w3-active-border-theme-red-dark:active > a {border-color:#8d1007 !important}
.w3-border-theme-red-action, .w3-hover-border-theme-red-action:hover, .w3-active-border-theme-red-action:active, .w3-active-border-theme-red-action:active > a {border-color:#8d1007 !important}

.w3-theme-red, .w3-hover-theme-red:hover, .w3-active-theme-red:active, .w3-active-theme-red:active > a {color:#fff !important; background-color:#f44336 !important}
.w3-text-theme-red, .w3-hover-text-theme-red:hover, .w3-active-text-theme-red:active, .w3-active-text-theme-red:active > a {color:#f44336 !important}
.w3-border-theme-red, .w3-hover-border-theme-red:hover, .w3-active-border-theme-red:active, .w3-active-border-theme-red:active > a {border-color:#f44336 !important}